// sass variables
$header-clr:#F2F2F2 ;
$btn-bg-color: #F15E0E;
$primary-text-clr: #6b717f;
$secondary-clr: #F15E0E;
$sec-bg-clr: #253E7C;
$white-text-clr:#FFFFFF;
$black-text-clr: #000000;
$last-sec-bg-clr: #E5E5E5;
$footer-clr: #333333;
$regular-text: 400;
$medium-text: 500;
$bold-text: 700;
$font-headings: 'Roboto Condensed';
$font-paras: 'Open Sans';




